.jokes-sec{
    background: var(--dark-blue);
    height: 100vh;
}

.joke{
    width: 60%;
    max-width: 500px;
    text-align: center;
    
}

.smiley{
    
    font-size: 100px;
    text-align: center;
}